.img-fixed-size {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

#product-main h3{
    font-size:4em;
}

.card-text {
  min-height: 70px;
  display: flex;
  align-items: center;
}

header{
  background-color: #55DD55;
}

section#cart h2{
  font-size:2em;
}

section#cart h3{
  font-size:3em;
}

